.SurveyList {
    /* border-right: 1px solid rgba(0, 0, 0, 0.1); */
    height: 100%;
    overflow: hidden;
    position: relative;
}

.SurveyList-Header {
    height: 60px;

    box-sizing: border-box;
    padding: 14px 16px;

    background-color: #1976d2;
    color: #fff;

    flex: 0 0 auto;
}

.SurveyList-Content {
    overflow-y: scroll;

    flex: 1 1 1px;
}


.SurveyList-Create {
    width: 100%;
    text-align: center;
    padding-top: 8px;

    box-shadow: 0 -5px 30px #ddd;
    bottom: 24px;
    right: 24px;

    height: 44px;

    color: #fff;

    flex: 0 0 auto;
}

.SurveyList-Subtitle.MuiListSubheader-sticky {
    background-color: #4F9DE9;

    color: #fff;
}
